<ul class="nav nav-pills">
  <li role="presentation" class="sort-dropdown dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sort by <span class="selected-attribute">Attendance</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="disabled"><a href="#" data-value="attendance">Attendance</a></li>
      <li><a href="#" data-value="spoken">Spoke Up</a></li>
      <li><a href="#" data-value="spoken/attended">% Spoken of Attended</a></li>
    </ul>
  </li>
  <li role="presentation" class="group-dropdown dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Group by <span class="selected-attribute">None</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="disabled"><a href="#" data-value="none">None</a></li>
      <li><a href="#" data-value="party">Party</a></li>
      <li><a href="#" data-value="grc">Constituency</a></li>
    </ul>
  </li>
</ul>

