<div class="party-section-heading">
  <div class="party-logo <%= party.get('id') %>"></div>
  <div>
    <div class="party-title"><%= party.get('name') %></div>
    <div class="party-section-description">
      <% _.each(hashtags, function (hashtag) { %>
        <a class="hashtag-link" href="https://twitter.com/search/?q=%23<%= hashtag %>" target="_blank">#<%= hashtag %></a>
      <% }); %>
    </div>
  </div>
</div>
<div class="party-section-tweets">
  <div class="party-section-tweets-links">
    <a class="twitter-link" href="<%= twitterSearchUrl %>" target="_blank">View on Twitter</a>
    <a href="#" class="detail-link">View all tweets</a>
  </div>
  <div class="party-section-tweets-embed"></div>
</div>