---
layout: layout.hbs
---

<header>
  <a class="no-underline" href="{{ relativePath }}index.html">
    <h1>GE2015 Visualizations</h1>
    <img src="{{ relativePath }}images/banner.png">
  </a>
</header>

{{> body }}