/* _base.scss */

.no-break {
  white-space: nowrap;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-alt; 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
header {
  margin-bottom: 45px;
  
  h1 {
    margin: 30px 0 13px;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2.7px;
  }
}

/* Custom page footer */
.footer {
  margin-top: 50px;
  padding-top: 19px;
  color: $gray-light;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.introduction {
  margin-bottom: 80px;

  .heading {
    color: $heading-text-color;
    font-size: 46px;
    line-height: 1;
    margin-bottom: 4px;
  }

  .heading-subtitle {
    margin: 0 0 17px;
    line-height: 34px;
    font-size: 25px;
    color: $heading-text-color;
    font-weight: normal;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
