/* _chart.scss */

.chart-row {
  margin-bottom: 20px;
  font-size: $chart-font-size;
}

.chart-plotarea {
  position: relative;

  .bar {
    position: relative;
    width: 100%;
    height: 32px;
    background: $gray-lighter;
    border-radius: 2px;
  }
  .bar-filled {
    position: absolute;
    height: 100%;
    background-color: $brand-primary;
  }
  .bar-icon-filled {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .bar-marker {
    @include transform(translate(-2px, -2px) rotate(-45deg));
    position: absolute;
    width: 4px;
    height: 4px;
    top: 50%;
    background-color: white;
    border: 1px solid rgba($brand-primary, 0.5);
    box-sizing: content-box;
    z-index: 100;
  }
}

.chart-guide {
  margin: 0 -30px;
  margin-top: 50px;
  padding: 40px 30px;
  background-color: white;
  font-size: $chart-font-size;
  
  .chart-guide-instructions {
    margin-bottom: 30px;
    color: $brand-primary;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }
  .bar {
    float: left;
  }
  .chart-tip {
    color: $gray-light;
    line-height: 1.3;
    text-align: center;
  }
  .chart-tip-text {
    padding: 0 10%;
  }
  .chart-tip-brackets {
    div {
      border: 1px none lighten($gray-light, 20%);
    }
    .chart-tip-brackets-tip {
      margin-top: 3px;
      height: 12px;
      width: 50%;
      border-right-style: solid;
    }
    .chart-tip-brackets-base {
      margin-top: 8px;
      height: 9px;
      border-style: none solid solid solid;
    }
    .chart-tip-brackets-tip + .chart-tip-brackets-base {
      border-style: solid solid none solid;
      margin-bottom: 8px;
      margin-top: 0;
    }
    .chart-tip-brackets-base + .chart-tip-brackets-tip {
      margin-top: 0;
      margin-bottom: 3px;
    }
  }
  .marker-line {
    margin-top: 2px;
    margin-bottom: 4px;
    width: 0;
    border-right: 1px dotted lighten($gray-light, 20%);
    opacity: 0.7;
  }
  .tip-spoken {
    margin-top: 32px;
    float: left;
    margin-left: -100%;
  }
  .tip-mean-attendence {
    position: relative;
    float: right;
    width: 100%;
    margin-top: 16px;
    margin-left: -100%;

    .marker-line {
      height: 43px;
    }
    .chart-tip-text {
      float: right;
      margin-top: 4px;
      padding: 0;
      width: 40%;
    }
  }
  .tip-mean-spoken {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 16px;
    margin-left: -100%;

    .marker-line {
      height: 130px;
    }
    .chart-tip-text {
      margin: 0 auto;
      padding: 0;
      width: 40%;
    }
  }
}
