// _profile.scss

.party-section {
  + .party-section {
    border-top: 3px solid #F7F7F7;
    padding-top: 40px;
    margin-top: 60px;
  }
  .party-section-heading {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .party-logo {
    flex: 0 0 $party-logo-md-size;
    width: $party-logo-md-size;
    height: $party-logo-md-size;
    margin-right: 12px;
  }
  .party-title {
    font-family: $font-family-alt;
    font-size: 25px;
    line-height: 1.1;
    margin-bottom: 0.1em;
  }
  .party-section-description {
    font-size: 16px;
  }
}

.viz-split-column {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}


// Parties/Teams

.party-section-teams {
  margin-bottom: 40px;
  
  .candidate-face .party-logo {
    display: none;
  }
}

.party-division {
  padding: 0 5px;

  .heading {
    font-family: $font-family-alt;
    text-transform: uppercase;
    font-size: 18px;
    color: #757575;
  }
  .description {
    margin-bottom: 20px;
    font-size: 16px;
    color: #909090;
  }
  .candidates-group {
    margin-bottom: 15px;
  }
  .candidate-face {
    margin-bottom: $candidate-face-spacing-h;
  }
}

// Parties/Tweets

.party-section-tweets {
  .party-section-heading {
    margin-bottom: 20px;
  }
  .party-section-content {
    max-width: 520px;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid $gray-lighter;
    border-radius: 10px;
  }
  .party-section-description .hashtag-link {
    color: $gray-light;
  }
  .party-section-tweets-embed {
    margin-right: 4px;
  }
  .party-section-tweets-links {
    @include clearfix;
    padding: 14px 14px 6px;

    .twitter-link {
      float: left;
      position: relative;
      padding-left: 27px;
      color: $gray-light;

      &:before {
        content: ' ';
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 2px;
        background: no-repeat center/100% url(../images/twitter-logo.png);
      }
    }
    .detail-link {
      float: right;
    }
  }
}


// Parties/Diversity

.party-section-diversity {
  .candidate-face {
    margin: 0 10px 10px 0;

    .wrapper {
      opacity: 0.8;
    }
    .candidate-face-image {
      width: $candidate-face-xs-size;
      height: $candidate-face-xs-size;

      &:before {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .party-logo {
      display: none;
    }
  }
  .candidate-group-diverse {
    .candidate-face-image:before {
      background-color: rgba($brand-secondary, 0.2);
    }
  }
  .candidate-group-norm {
    .candidate-face-image:before {
      background-color: rgba($brand-primary, 0.2);
    }
  }
}


// Candidate detail

.viz-detail-candidate {
  .candidate-face {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .candidate-face-image {
      width: $candidate-face-lg-size;
      height: $candidate-face-lg-size;
      margin-right: 20px;
    }
    .party-logo {
      align-self: center;
      width: $party-logo-md2-size;
      height: $party-logo-md2-size;
    }
  }
  .group + .group {
    margin-top: 20px;
  }
  .name {
    display: inline-block;
    margin-right: 0.5em;
    font-family: $font-family-alt;
    font-size: 32px;
  }
  .nameNative {
    display: inline-block;
    font-size: 27px;
    color: $gray-light;
  }
  .party {
    font-size: 21px;
  }
  .division {
    font-size: 21px;
  }
  .links {
    margin-top: 40px;

    a {
      color: $gray-light;
    }
    ul {
      padding: 0;
      list-style: none;
    }
    li + li {
      margin-top: 0.3em;
    }
    .glyphicon, .icon {
      margin-right: 6px;
    }
  }
}


// Sources

.ps-sources {
  overflow-x: hidden;
  font-size: 13px;
  margin-top: 30px;

  ul {
    padding: 0;
    list-style: none;
  }
  &, a {
    color: #999;
  }
}
