// _rs-viz.scss

$increase-color: #31DA27;
$decrease-color: #D64242;


// Results/Parliament

.viz-rs .viz-team-subsection {
  margin-top: 30px;

  > .heading {
    display: flex;
    margin-bottom: 4px;
    align-items: flex-start;
  }
  .party-logo {
    flex: 0 0 auto;
    width: $candidate-face-xs-size;
    height: $candidate-face-xs-size;
    margin-right: 8px;
  }
  .team-candidates {
    flex: 1 1;
    white-space: nowrap;
  }
  .candidate-face {
    margin-right: 8px;

    @media screen and (max-width: 400px) {
      width: $candidate-face-xs-size * 0.8;
      margin-right: 0;
    }
    .candidate-face-image {
      width: $candidate-face-xs-size;
      height: $candidate-face-xs-size;
    }
    .party-logo {
      display: none;
    }
  }
  .content {
    margin-bottom: 6px;
  }
  .description {
    display: flex;
  }
  .caption {
    flex: 1;
    font-size: 15px;
    color: #909090;
  }
  .stats {
    flex: 0 1 auto;
    margin-left: 10px;
    font-weight: 500;
    color: $brand-secondary;
  }
}

.viz-rs .viz-section {
  .heading-icon {
    margin-right: 12px;

    .candidate-face .party-logo {
      display: none;
    }
    .candidate-face-image {
      width: $party-logo-md-size;
      height: $party-logo-md-size;
    }
  }
  > .heading {
    margin-bottom: 15px;
  }
  .content-split {
    display: flex;
    align-items: center;

    .stats {
      width: $party-logo-md-size;
      flex: 0 0 auto;
      margin-right: 12px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      color: $brand-secondary;
    }
    .viz-bar {
      flex: 1;
    }
  }
}

.viz-rs-swings .viz-bar {
  .bar-icon-filled {
    background-color: $brand-secondary;
  }
  .bar-increase {
    background-color: $increase-color;
  }
  .bar-decrease {
    background-color: $decrease-color;
  }
}

.viz-rs-swings {
  .text-increase {
    color: $increase-color;
  }
  .text-decrease {
    color: $decrease-color;
  }
}
