<div class="viz-settings-perspective">
  <div class="settings-link-group" role="group" aria-label="Perspectives">
    <a class="settings-link" href="#faces" data-value="faces">Faces</a>
    <a class="settings-link" href="#parties" data-value="parties">Parties</a>
    <a class="settings-link" href="#wards" data-value="wards">Wards</a>
  </div>
</div>

<div class="viz-settings-groups">
  <!-- Search -->
  <div class="viz-settings-search">
    <label>Search</label>
    <input type="text" placeholder="Search">
  </div>
  <!-- Views -->
  <div class="viz-settings-view">
    <label>View</label>
    <div class="settings-link-group" role="group" aria-label="View">
      <a class="settings-link" href="#" data-value="default">Default</a>
      <a class="settings-link" href="#" data-value="teams">Teams</a>
    </div>
  </div>
  <!-- Filter -->
  <div class="viz-settings-sort">
    <label>Sort</label>
    <div class="settings-link-group" role="group" aria-label="Sort">
      <a class="settings-link" href="#" data-value="name">A to Z</a>
      <a class="settings-link" href="#" data-value="party">Party</a>
    </div>
  </div>
</div>