<div class="viz-settings-groups">
  <!-- Group -->
  <div class="viz-settings-group">
    <label>Group</label>
    <div class="settings-link-group" role="group" aria-label="View">
      <a class="settings-link active" href="#" data-value="none">None</a>
      <a class="settings-link" href="#" data-value="party">Party</a>
      <a class="settings-link" href="#" data-value="grc">Constituency</a>
    </div>
  </div>
  <!-- Sort -->
  <div class="viz-settings-sort">
    <label>Sort</label>
    <div class="settings-link-group" role="group" aria-label="Sort">
      <a class="settings-link" href="#" data-value="attendance">Attendance</a>
      <a class="settings-link" href="#" data-value="spoken">Spoke Up</a>
      <a class="settings-link active" href="#" data-value="spoken/attended"><span class="no-break">% Spoken</span> of Attended</a>
    </div>
  </div>
</div>

