---

layout: viz-layout.hbs

title: Parliament Sittings

description: >
  This chart shows the number of parliament sittings attended by members of parliament (MP) in Singapore from 2011 to 2015. The data is sourced from the article “Speaking truth to Parliament” by The Middle Ground. By default, the chart is sorted by MP’s who had the highest attendance to the lowest. For a different perspective, sort by the number of Parliament sittings in which the MP spoke up or group the members by their party affliation or constituency.

ogImage: http://zxzxlch.github.io/ge15-viz/images/ps-og-image.png

buildScripts:
  main:     'parliament-sittings-bundled'
  scripts:  ['parliament-sittings']

---

<!-- Introduction -->
<div class="introduction">

  <h1 class="heading">{{ title }}</h1>
  <h2 class="heading-subtitle">How Often Do Our Members of Parliament Attend Parliament Sittings?</h2>

  <p>This chart shows the number of parliament sittings attended by members of parliament (MP) in Singapore from 2011 to 2015. The data is sourced from the article <a href="http://themiddleground.sg/2015/08/12/tmg-exclusive-speaking-truth-parliament/">“Speaking truth to Parliament”</a> by The Middle Ground:</p>

  <blockquote>
    <p>To find out how many times each MP showed up in Parliament, we looked at every single Voters and Proceedings document filed by the 12th Parliament. As there have been 115 sittings, there were 115 reports. We combed through all of them, counted who showed up how many times […] which backbenchers in the 12th Parliament were the most vocal in questioning the G and raising issues to be discussed and debated. As a baseline for comparison, we counted the number of sittings when individual backbencher MPs spoke up, rather than how many instances of speaking altogether.</p>
  </blockquote>
  
  <p>By default, the chart is sorted by MP’s who had the highest attendance to the lowest. For a different perspective, sort by the number of Parliament sittings in which the MP spoke up or group the members by their party affliation or constituency.</p>

  <p>Note that several members in the Workers’ Party only served part of the full four year term which could account for their lower attendance rates. For a more accurate representation, you could sort by “% Spoken of Attended”. This gives a better idea of how often a MP spoke out of the parliament sittings they attended.</p>

  <div class="chart-guide row">
    <div class="chart-guide-instructions col-md-2">How to read this chart</div>
    <div class="chart-area col-md-10">
        <div class="chart-plotarea">
          <div class="chart-tip tip-attendance">
            <div class="chart-tip-text">Attended parliament sittings out of a maximum of 115</div>
            <div class="chart-tip-brackets">
              <div class="chart-tip-brackets-tip"></div>
              <div class="chart-tip-brackets-base"></div>
            </div>
          </div>
          <div class="bar">
            <div class="bar-filled"></div>
            <div class="bar-icon-filled"></div>
            <div class="bar-marker marker-1"></div>
            <div class="bar-marker marker-2"></div>
          </div>
          <div class="chart-tip tip-spoken">
            <div class="chart-tip-brackets">
              <div class="chart-tip-brackets-base"></div>
              <div class="chart-tip-brackets-tip"></div>
            </div>
            <div class="chart-tip-text">Parliament sittings in which the MP spoke up</div>
          </div>
          <div class="chart-tip tip-mean-attendance">
            <div class="marker-line marker-line-1"></div>
            <div class="chart-tip-text">
              On average, a MP has an attendance rate of <span class="js-stat-mean-attendance-rate">0</span>%, around <span class="js-stat-mean-attendance-count">0</span> parliament sittings.
            </div>
          </div>
          <div class="chart-tip tip-mean-spoken">
            <div class="marker-line marker-line-2"></div>
            <div class="chart-tip-text">
              MP’s speak up for an average of <span class="js-stat-mean-spoken-count">0</span> attended parliament sittings.
            </div>
          </div>
        </div>
      </div>
  </div>

</div>

<!-- Chart -->
<div class="chart">
  <div class="viz-settings"></div>
  <div class="viz-content"></div>
</div>
